# JUST REPLACE YOUR VALUES HERE 🤟🏻🚀

; MONGO_URI=mongodb+srv://xxxxxx:xxxxx@cluster0.p2ich.mongodb.net/ride_app?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI=mongodb+srv://mohitcg345:jmUIWi1ATk1nTiPQ@cluster0.v3nmjzi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
ACCESS_TOKEN_SECRET=tomandjerry
ACCESS_TOKEN_EXPIRY=4d
REFRESH_TOKEN_SECRET=jerryandtom
REFRESH_TOKEN_EXPIRY=30d


username=mohitcg345
pwd=jmUIWi1ATk1nTiPQ